<!DOCTYPE css>
<style type="text/css">

@font-face{
  font-family:"courier prime"; src: https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Courier%20Prime.ttf;
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"biro script reduced"; src:https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Biro_Script_reduced.ttf;
  font-weight:normal;
  font-style:normal;
}

  .header {
  height:120px;
  background-color:#d4dad1;
  font-size:36pt;
  }

h1{
font-color:#191919;
font-family:"courier prime";  
}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #d4dad1; 
}

.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-family:"biro script reduced";
  font-size: 16pt;
}

.navbar a.right {
  float: right; 
}

.navbar a:hover {
  background-color: #2c4025; 
  color: #d4dad1; 
}
  .main {
    color:white;
    background-color:#2c4025;
    height:850px;
    padding:1em; 
  }

@font-face{
  font-family: "anonymous pro"; src:AnonymousPro-Regular.ttf;
  font-weight:normal;
  font-style:normal;
}

  p {
  font-family: "anonymous pro";
  }

.footer{
  background-color:#191919;
  color:#fff;
  height:80px;
  padding:1em;
}

