<!DOCTYPE css>
<style type="text/css">
  .header {
  height:120px;
  background-color:#d4dad1;
  }

  .main {
  display:block;
  margin-left: auto;
  margin-right:auto;
  bakcground-color:#2c4025;
  }

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #d4dad1; 
}


(div)
  display: flex;
  justify-content:center;
}
@font-face{
  font-family:"courier prime"; src: https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Courier%20Prime.ttf;
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"biro script reduced"; src:https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Biro_Script_reduced.ttf;
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: "anonymous pro"; src:https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/3224e8832a8f9edcecfef5ad3ba43a10544d89af/AnonymousPro-Regular.ttf;
  font-weight:normal;
  font-style:normal;
}

h1{
font-color:#191919;
font-family:"courier prime";  
}

p {
  font-family: "anonymous pro";
}

  img{
  height:729px;
  width:515px;
}
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
} 

(/div)



