<!DOCTYPE CSS>
.header{
  background-color:#d4dad0;
  height:120px;
  width:500px;
}

@font-face{
  font-family:"courier prime"; src: courier-prime.zip;
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"biro script reduced"; src:https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Biro_Script_reduced.ttf;
  font-weight:normal;
  font-style:normal;
}

h1{
font-color:#191919;
font-family:"courier prime";
}

img{
  height:110px;
  width:85px;
}

li{
  font-family:"biro script reduced";
}
