<!DOCTYPE css>
header {
  height:120px;
  background-color:#d4dad0;
}

@font-face{
  font-family:"courier prime"; src: https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Courier%20Prime.ttf;
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"biro script reduced"; src:https://github.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/main/Biro_Script_reduced.ttf;
  font-weight:normal;
  font-style:normal;
}

h1{
font-color:#191919;
font-family:"courier prime";
}

main 
{
  bakcground-color:#2c4025;
}

div{
  display: flex;
  justify-content:center;
}

  img{
  height:729px;
  width:515px;
}

li{
  font-family:"biro script reduced";
  font-color: #ffffff;
}
