<!DOCTYPE css>
<style type="text/css">
@font-face{
  font-family:"courier prime"; src:url('courierprime-regular-webfont.woff') format('woff'), src:url('Courier Prime.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"biro script reduced";src:url('biro_script_reduced-webfont.woff') format('woff'), src:url('Biro_Script_reduced.ttf') fomrat('tff');
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:"anonymous pro regular"; src:url('anonymouspro-regular-webfont.woff') format('woff'), src:url('AnonymousPro-Regular.ttf') format('tff');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"caveat"; src:https://raw.githubusercontent.com/OnGarrisonHill/OnGarrisonHill.github.io/blob/80714870b9f904f783aadc55f54d41254e22da79/Caveat-Regular.ttf;
  font-weight:normal;
  font-weight:normal;
} 

  .header {
  height:120px;
  background-color:#d4dad1;
  }
h1{
font-color:#191919;
font-family:"courier prime"; 
font-size:36pt;
}
.biro{
  font-family:"biro script reduced";
} 

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #d4dad1; 
}
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; 
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-family:"biro script reduced";
}

/* Right-aligned link */
.navbar a.right {
  float: right; 
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #2c4025; 
  color: #d4dad1; 
}
  .main {
    color:white;
    background-color:#2c4025;
    padding:1em;
    
  }

@font-face{
  font-family: "anonymous pro"; src:AnonymousPro-Regular.ttf;
  font-weight:normal;
  font-style:normal;
}
  p {
  font-family: "anonymous pro regular";
  }

(div)
  display: flex;
  justify-content:center;
}

}
  img{
  height:729px;
  width:515px;
  transparency:0.5;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  opacity:0.5;
} 
.container {
  position: relative;
  text-align: center;
}

.bottom-right{
  position: absolute;
  bottom: 8px;
  right: 370px;
  font-family:"caveat";
  font-size:18pt
}


.navbar{
  font-family: "caveat";
  font-size:16pt;
}
.footer{
  color:#fff;
  background-color:#191919;
  height:80px;
  padding: 1em;
}
(/div)
